div[data-angular-treeview] {
  /* prevent user selection */
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;

  /* default */
  font-family: Roboto;
  font-size:14px;
  color: black;
  text-decoration: none;
}

div[data-tree-model] ul {
  margin: 0;
  padding: 0;
  list-style: none; 
  border: none;
  /*overflow: hidden;*/
}

div[data-tree-model] li {
  position: relative;
  padding: 0 0 0 20px;
  line-height: 25px;
}

div[data-tree-model] li .expanded {
  padding: 1px 10px;
  /* background-image: url("http://cfile23.uf.tistory.com/image/205B973A50C13F4B19D9BD") ; */
  background-repeat: no-repeat;
}

div[data-tree-model] li .collapsed {
  padding: 1px 10px;
  /* background-image:url("http://cfile23.uf.tistory.com/image/1459193A50C13F4B1B05FB") ; */
  background-repeat: no-repeat;
}

div[data-tree-model] li .normal {
  padding: 1px 10px;
  background-image: url("http://cfile23.uf.tistory.com/image/165B663A50C13F4B196CCA");
  background-repeat: no-repeat;
}

div[data-tree-model] li i, div[data-tree-model] li span {
  /* cursor: pointer; */
}

div[data-tree-model] li .selected {
  background-color: #aaddff;
  font-weight: bold;
  padding: 1px 5px;
}

/* Custom Styles*/



.sampleFormat
{
  font-size: 14px;
  color: white;
   margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
} 

 .searchbox
{
  height: 30px; 
 /*  width: 90%;
  margin-left: 10px; */
  margin-right: 10px;
  margin-top: 10px;
 
}

.standardtext
{
font-size: 14px;
color: white;
margin-left: 10px;
margin-top: 10px;	
}

.healthContainer{
height: 80px;
background-color:#78b9e7;
width: 100%;
margin-left: 0px; 	
}

.searchContainer
{
	height: 65px;
	background-color:#007dc6;
	width: 100%;
	margin-left: 0px; 
}

/* Store Health Stlye */

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 22px;
}
.slider1 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider1:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: red;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider2 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider2:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: yellow;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider3 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider3:before {
  position: absolute;
  content: "";
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 2px;
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider4 {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  width:75px;
}
.slider4:before {
  position: absolute;
  content: "";
  background-color: green;
  -webkit-transition: .4s;
  transition: .4s;
}

/* Rounded sliders */
.slider1.round {
  border-radius: 34px;
}

.slider1.round:before {
  border-radius: 50%;
}

/* Rounded sliders */
.slider2.round {
  border-radius: 34px;
}

.slider2.round:before {
  border-radius: 50%;
}
/* Rounded sliders */
.slider3.round {
  border-radius: 34px;
}

.slider3.round:before {
  border-radius: 50%;
}
/* Rounded sliders */
.slider4.round {
  border-radius: 34px;
}

.slider4.round:before {
  border-radius: 50%;
}
/* Store Health Style */

.storeHealthText{
	float:right;
	padding-right: 9px;
	font-size: initial;
	color: black;
}

div.box
{
  width:200px;
  height:200px;
  border:solid 1px #333;
  display:inline-block;
  vertical-align:top;
  box-sizing:border-box;
  padding:10px;
  color:#999;
  position:relative;
}

div.sample:after
{
    content: "C o m i n g S o o n";
position: absolute;
top: 93px;
left: 20px;
z-index: 1;
font-family: Arial,sans-serif;
/* -webkit-transform: rotate(-10deg); */
-moz-transform: rotate(-45deg);
-ms-transform: rotate(-45deg);
-o-transform: rotate(-45deg);
/* transform: rotate(-475deg); */
font-size: 19px;
color: black;
background: #fff;
/* border: solid 4px grey; */
padding: 5px;
border-radius: 5px;
zoom: 1;
filter: alpha(opacity=20);
opacity: 0.4;
-webkit-text-shadow: 0 0 2px #c00;
text-shadow: 0 0 2px #c00;
box-shadow: 0 0 2px #c00;
}
#menu-toggle + .tooltip
 {
	background-color:transparent;
	border-color:transparent; 
}
#menu-toggle + .tooltip > .tooltip-inner	
{
      background-color: white;
      color: black;
      font-size: 12px;
}
  /* Tooltip on right */
#menu-toggle + .tooltip.top > .tooltip-arrow 
{
      display:none;
}
#menu-toggle + .tooltip.right > .tooltip-arrow 
{
      display:none;
}
#menu-toggle
{
    margin-left: 0%;
    padding-left: 40%;
    color: rgba(17, 130, 199, 1);
    font-size: large;
    font-weight: 900;
    cursor: pointer;
}