.sensorTrendsTableAnalog, .sensorTrendsTableDigital  {
	width:100%;	
}
.sensorTrendsTableAnalog th,td , .sensorTrendsTableDigital th,td {	
	font-size: 15px;
	font-family: sans-serif;
	padding: 2%;
}
.sensorTBody td.tleft,.sensorTHead th.tleft{
	text-align:left !important;
}
.sensorTrendsTmainHead {
	background-color: #007dc6;
	width:100%;
	
	padding: 1% 0 1%; float:left;
}
.sensorTrendsTmainHead .leftHead {
	color: #FAFAFA;
	font-weight: bold;
	font-size: 20px;
}
.sensorTrendsTmainHead .rightHead {
	color: #FAFAFA;
	font-weight:normal;
	font-size: 15px;
}
.sensorTHead {
	background-color: #90CAF9;
}
.sensorTHead th{
	color: #FAFAFA;
	font-weight:bold;	
}
.sensorTBody td{
	color: #000000;
}
.sensorTBody tr:nth-child(even) {
	background-color: #EEEEEE;
}
.sensorTBody tr:nth-child(odd) {
	background-color: #FFFFFF;
}

.paginationStyle{
	background-color: white !important;
    color: black !important;
    border: 2px solid #78b9e7 !important;
}

