.graphViewChart {
	padding-left: 20px;
	
}
.verticaltext_content {
  position: relative;
  transform: rotate(-90deg);
  float:left;
  left:-85px;
  top:150px;   
  width:150px;
}
.horizontaltext_content{
}


