#sensorReading {
	width: 275px;
	height: 200px;
	text-align: left;
	display: inline-block;
}

.containerRhs {
	width: 20%;
	margin-left: 1%;
	border-left: 1px solid #CFD8DC;
}

.rowRhs {
	padding: 5px;
	width: 100%;
	float: left;
}

.headRhs {
	font-weight: bold;
	font-size: 15px;
	font-family: sans-serif;
	color: #3F51B5;
	margin: 1%;
	padding: 1%;
} /*sensor image class*/
.sensorImgRhs img {
	width: 95%;
}
/*Sensor info block*/
.infoBlockRhs {
	border-top: 1px solid #CFD8DC;
	width: 90%;
	float: left;
}
/*right alignments for infoBlock*/
.rightRhs {
	float: right;
	padding: 1%;
	background-color: #EEEEEE;
	margin-bottom: 5px;
	text-align: center;
}
/*Defrost block description text*/
.descriptionRhs {
	font-size: 12px;
	color: #90A4AE;
}
/*clear class*/
.clearRhs {
	clear: both;
}
/*sensorTrends font Styles*/
.sensorTrendsRhsHeader {
	font-size: 16px;
	font-family: sans-serif;
	font-weight: bold;
	color: #004c91;
	padding-bottom: 0px;
}

.sensorTrendsRhsContent {
	padding-left: 0px;
	background-color: #ffffff;
	border-left: 1px solid gray;
	/*float: left;*/	
	min-height: 668px;
}

.sensorTrendsRhsHeaderTitle {
	padding-left: 15px !important;
	font-size: 16px !important;
	font-family: sans-serif;
	font-weight: bold;
	color: #004c91;
	padding-bottom: 0px;
	padding-top: 10px !important;
}

.sensorTrendsRhsHeaderValue {
	font-size: 16px !important;
	float: right;
	margin-top: 10px !important;
	border-radius: 5px;
	text-align: center;
	background-color: #ECEFF1;
	padding: 5px;
}

.sensorTrendsRhsContent  span {
	font-size: 14px;
	font-family: sans-serif;
	padding-left: 0px;
	padding-right: 0px;
	padding-top: 5px;
}
/*Rhs value styles*/
.sensorTrendsRhsValue {
	float: right;
	border-radius: 5px;
	text-align: center;
	background-color: #ECEFF1;
	padding: 5px;
}

.sensorTrendsRhsContent section {
	padding-top: 10px;
	padding-bottom: 10px;
}

.sensorTrendsRhsContent .sensorBlock {
	border-bottom: 1px solid #CFD8DC;
}
/*hints in defrost block*/
.sensorTrendsRhsContent .description, .sensorTrendsRhsContent .readingDescription
	{
	font-size: 14px;
	color: #B0BEC5;
	font-family: sans-serif;
	padding-top: 0px;
}

.sensorTrendsRhsContent .readingDescription {
	text-align: center;
}

.sensorGauge {
	max-height: 160px;
	padding-top: 20px;
	padding-left: 25px;
}