.btnBorder {
	display: inline-block;
	border-bottom: 4px solid orange;
	padding-bottom: 7px;
}

/* Round Switch - Start*/
.switch {
	position: relative;
	display: inline-block;
	width: 50px;
	height: 25px;
}

/* Hide default HTML checkbox */
.switch input {
	display: none;
}

/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #ccc;
	-webkit-transition: .4s;
	transition: .4s;
}

.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 20px;
	left: 4px;
	bottom: 4px;
	background-color: white;
	-webkit-transition: .4s;
	transition: .4s;
}

input:checked+.slider {
	background-color: #2196F3;
}

input:focus+.slider {
	box-shadow: 0 0 1px #2196F3;
}

input:checked+.slider:before {
	-webkit-transform: translateX(26px);
	-ms-transform: translateX(26px);
	transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
	border-radius: 34px;
}

.slider.round:before {
	border-radius: 50%;
}

/* Round Switch End*/

/*Pagination*/
.pagination>li>a, .pagination>li>span {
	padding: 3px 6px !important;
}

.avgText {
	background-color: lightgray;
	height: 30px;
	padding-left: 5px;
	margin-top: 20px;
	line-height: 2;
	border-radius: 8px;
	text-align: center;
	color: black;
	font-weight: bold;
}

.weatherTempHeader {
	background-color: #007dc6;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	color: white;
	height: 40px;
	line-height: 2.5;
}

.hreflinks {
	color: white !important;
	text-decoration: none;
}

a.hreflinks:hover, a.hreflinks-active {
	color: rgba(207, 178, 68, 1) !important;
}

.rickshaw_graph .x_tick {
	opacity: 1 !important;
	margin-top: 20px;
	position: relative;
	color: black;
}

.rickshaw_graph .y_ticks text {
	opacity: 1 !important;
	color: black;
}

#mydiv {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
	background-color: grey;
	opacity: .8;
}

.ajax-loader {
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -32px; /* -1 * image width / 2 */
	margin-top: -32px; /* -1 * image height / 2 */
	display: block;
}

.ui-slider-horizontal .ui-slider-range {
	background-color: burlywood;
}
#appBodyBackground
{
	font-family: Roboto, sans-serif;
    background-color: #F2f8fd;
}

#loadWalSpark
{
	height: 100px;
}
/* Commented request raised by Arpit 

circle {
	stroke: #FFBE00;
}

table {
	width: 100%;
}

thead, tbody, tr, td, th {
	display: block;
}

tr:after {
	content: ' ';
	display: block;
	visibility: hidden;
	clear: both;
}

tbody {
	height: 453px;
	overflow-y: auto;
}

tbody td, thead th {
	width: 25%;
	float: left;
}

th, td {
	text-align: center !important;
}
*/