/* For Tablets and bigger devices and monintor*/
@media ( min-width : 768px) {
	.sidebar-nav .navbar .navbar-collapse {
		padding: 0;
		max-height: none;
	}
	.sidebar-nav .navbar ul {
		float: none;
	}
	.sidebar-nav .navbar ul:not {
		display: block;
	}
	.sidebar-nav .navbar li {
		float: none;
		display: block;
	}
	.sidebar-nav .navbar li a {
		padding-top: 12px;
		padding-bottom: 12px;
	}
	.body {
		display: table;
		background-color: green;
	}
	.brandName {
		font-size: 30px;
		color: white;
		margin-left: 20px;
	}
}

@media ( min-width : 768px) {
	uncomment if you would like the menu to be fixed
	.navbar {
		position: fixed;
		width: 170px;
		z-index: 2;
	}
	.bodyHeading {
		margin-top: 10px;
		font-size: 28px;
		color: black;
	}
	.headerRow {
		height: 60px;
		line-height: 2;
	}
	.brandName {
		float: left;
	}
}

/* For Medium size monitor and bigger monintor*/
@media ( min-width : 992px) {
	.navbar {
		width: 212px;
	}
}

/* Till Medium Size Monintor*/
@media ( max-width : 992px) {
	.marginTop_xs_sm {
		margin-top: 10px;
	}
}

/* For Large size monitor only*/
@media ( min-width : 1200px) {
	.navbar {
		width: 262px;
	}
}

/* For Mobile Devices only*/
@media ( max-width :767px) {
	.navbar-header {
		line-height: 1.7;
	}
	.bodyHeading {
		margin-top: 10px;
		font-size: 28px;
		color: black;
	}
	.brandName {
		font-size: 30px;
		color: white;
		margin-left: 20px;
	}
}

/*Below CSS are common for across the devices and monitor*/
.sidebar-nav .navbar-header {
	float: none;
}

.headerRow {
	background-color: #007dc6;
}

.marginTop_10 {
	margin-top: 10px;
}

.brandName {
	font-size: 30px;
	color: white;
	margin-left: 20px;
	padding-left: 20px;
}

.navbar-default {
	background-color: #007dc6;
}

.navbar-nav>li>a:hover {
	color: white !important;
}

body {
	background-color: gainsboro;
	background-repeat: repeat;
	max-width: 100%;
	overflow-x: hidden;
	min-width: 400px;
}

.dashboardBox {
	width: 100%;
	height: 100px;
	border: 3px solid #ffc220;
	background-color: white;
}

.dashboxHeading {
	font-size: 16px;
	text-align: center;
	background-color: #004c91;
	font-weight: bold;
	color: white;
}

.margin_10 {
	margin: 10px;
}

.dashBoxfigure {
	float: left;
	font-size: 25px;
	margin-left: 10px;
}

.dashBoxReadMore {
	float: right;
	font-size: 12px;
	bottom: 10px;
	padding-bottom: -32px;
	margin-top: 12px;
	margin-right: 10px;
}

.floatRight {
	float: right;
}

.floatLeft {
	float: left;
}

.navbar-nav>li>a {
	color: black !important;
}

.navTag {
	color: black;
	margin-top: 15px;
	margin-left: 15px;
}

.yearDropdown {
	/* margin-left: 15px;
	width: 40%; */
	height: 30px;
}

.headingBorder {
	border-bottom: 5px solid black;
}

.top-buffer {
	margin-top: 10px;
}

ul {
	list-style-type: none;
}

.personalInfoDiv {
	background-color: white;
	color: black;
	line-height: 3;
	border-bottom: 2px solid gray;
}

/* centered columns styles */
.row-centered {
	text-align: center;
}

.col-centered {
	display: inline-block;
	float: none;
	/* reset the text-align */
	text-align: left;
	/* inline-block space fix */
	margin-right: -4px;
}

#navlist li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
	color: white;
}

.subHeader {
	height: 35px;
	line-height: 2.5;
}

li a:hover {
	color: white;
	text-decoration: none;
}

