.user-welcome-arrow{
	color:#ffffff; 
	padding-left:5px; 
	padding-top:13px;
}
#user-welcome{
	margin-right: 5%; 
	position: absolute; 
	right: 0px;
	min-width:10%
}
#user-welcome .textstyle{
	font-size: 15px; color: white; padding-top:10px
}
#user-welcome  a.user-welcome-arrow:hover{
	color:#fff;
}
#user-welcome .tooltip.bottom{white-space:nowrap;}
