<div id="taskDescriptionDiv">
	<span id="taskDescriptionLabel">Task Description</span> <span
		id="taskDescriptionText">{{task.description}}</span>
</div>
<div>
	<table id="SE" class="table table-striped eventTable">
		<thead>
			<tr>
				<th class="eventHeader" colspan="4">Significant Events</th>
			</tr>
			<tr id="formatEventHeaderText">
				<th>Event ID</th>
				<th>Timestamp</th>
				<th>Status</th>
				<th>Conditions</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>
					<a 	ui-sref="Tasks.Details.Events"
						ng-click="SetClickedEventRowValues('SEVT-10382997');"> <i
						ng-show="SelectedEventID=='SEVT-10382997'" id="taskDropDown"
						class="fa fa-angle-down"></i> <i
						ng-hide="SelectedEventID=='SEVT-10382997'" id="taskDropDown"
						class="fa fa-angle-up"></i>
				</a>SEVT-10382997</td>
				<td>20160612 13:21:53</td>
				<td>Task Created</td>
				<td>Refrigerator Sensor crossed threshold limit of 50 F</td>
			</tr>
			<tr>
				<td id="QeventPanelDiv" colspan="4"
					ng-show="SelectedEventID=='SEVT-10382997'"><div ui-view="QEventDiv"></div></td>
			</tr>
			<tr ng-repeat-start="SEvent in SEvents">
				<td><a ui-sref="Tasks.Details.Events"
					ng-click="SetClickedEventRowValues(SEvent.eventId);"> <i
						ng-show="SelectedEventID==SEvent.eventId" id="taskDropDown"
						class="fa fa-angle-down"></i> <i
						ng-hide="SelectedTaskID==task.taskId" id="taskDropDown"
						class="fa fa-angle-up"></i>
				</a>{{SEvent.EventId}}</td>
				<td>{{SEvent.Timestamp}}</td>
				<td>{{SEvent.Status}}</td>
				<td>{{SEvent.Conditions}}</td>
			</tr>
			<tr ng-repeat-end>
				<td id="QeventPanelDiv" colspan="4"
					ng-show="SelectedEventID==SEvent.eventId"><div ui-view></div></td>
			</tr>
		</tbody>
	</table>
</div>