<table id="QE" class="table table-striped eventTable">
	<thead>
		<tr>
			<th class="eventHeader" colspan="8">Qualifying Events</th>
		</tr>
	</thead>
	<tbody>
		<tr id="formatHeaderText">
			<td>Event ID</td>
			<td>Description</td>
			<td>Rack ID</td>
			<td>Module ID</td>
			<td>Sensor ID</td>
			<td>Sensor Reading</td>
			<td>Timestamp</td>
			<td>Status</td>
		</tr>
		<tr>
			<td>QEVT-7862434</td>
			<td>Temperature Above Threshold by 10 F</td>
			<td>R1</td>
			<td>M3</td>
			<td>S7</td>
			<td>60 F</td>
			<td>20160612 13:20:53</td>
			<td>Processed</td>
		</tr>
		<tr ng-repeat="QEvent in QEvents">
			<td>{{QEvent.EventId}}</td>
			<td>{{QEvent.Description}}</td>
			<td>{{QEvent.RackId}}</td>
			<td>{{QEvent.ModuleId}}</td>
			<td><a>{{QEvent.SensorId}}</a></td>
			<td>{{QEvent.SensorReading}}</td>
			<td>{{QEvent.Timestamp}}</td>
			<td>{{QEvent.Status}}</td>
		</tr>
	</tbody>
</table>