<div class="RelatedTasks">
<table id="RT" class="table table-striped">
	<thead>
		<tr>
			<th class = "relatedTaskHeader" colspan="4">Related Task(s)</th>
		</tr>
	</thead>
	<tbody>
		<tr class="relatedTaskTableHeader">
			<td>Task ID</td>
			<td>Description</td>
			<td>Status</td>
			<td>Remarks</td>
		</tr>
		<tr>
			<td>Task-123</td>
			<td>Refrigeration Failure</td>
			<td>Closed</td>
			<td>Medium Priority Task Created</td>
		</tr>
		<tr ng-repeat="RelTask in RelTasks">
			<td>{{RelTask.TaskId}}</td>
			<td>{{RelTask.Description}}</td>
			<td>{{RelTask.Status}}</td>
			<td>{{RelTask.Remarks}}</td>
		</tr>
	</tbody>
</table>
</div>