<script type="text/ng-template" id="custom/pager">
	<div id="paginationDiv">
		<div>
			<ul class="pagination">
				<li ng-repeat="page in pages" ng-switch="page.type"><a
					ng-switch-when="prev" ng-click="params.page(page.number)" href=""><span
						class="glyphicon glyphicon-chevron-left"></span></a> <a
					ng-switch-when="first" ng-click="params.page(page.number)" href=""><span
						ng-bind="page.number"></span></a> <a ng-switch-when="page"
					ng-click="params.page(page.number)" href=""><span
						ng-bind="page.number"></span></a> <a ng-switch-when="more"
					ng-click="params.page(page.number)" href="">&#8230;</a> <a
					ng-switch-when="last" ng-click="params.page(page.number)" href=""><span
						ng-bind="page.number"></span></a> <a ng-switch-when="next"
					ng-click="params.page(page.number)" href=""><span
						class="glyphicon glyphicon-chevron-right"></span></a></li>
			</ul>
			<label>{{params.settings().total}}</label>
			<label>of</label>
			<label>{{(params.page(page.number)-1)*10+params.data.length}}</label>
			<label>of</label>
			<label>{{(params.page(page.number)-1)*10+1}}</label>
		</div>
	</div>
</script>
<div ng-controller="TasksController as TaskControl" id="formatTaskDiv">
	<!-- TaskLabel Bar -->
	<div id="TaskBar">
		<!-- Task Priority Bar -->
		<div id="TaskPrio">
			<table>
				<tr>
					<td colspan="8"><label>TASK PRIORITY</label></td>
				</tr>
				<tr>
					<td class="TaskCount"><label>{{EmerPriorityCount();}}</label></td>
					<td class="TaskLabel"><label>EMERGENCY</label></td>
					<td class="TaskCount"><label>{{HighPriorityCount();}}</label></td>
					<td class="TaskLabel"><label>CRITICAL</label></td>
					<td class="TaskCount"><label>{{MediumPriorityCount();}}</label></td>
					<td class="TaskLabel"><label>MEDIUM</label></td>
					<td class="TaskCount"><label>{{LowPriorityCount();}}</label></td>
					<td class="TaskLabel"><label>LOW</label></td>
				</tr>
			</table>
		</div>
		<div id="TaskStatus">
			<table>
				<tr>
					<td colspan="6"><label>TASK STATUS</label></td>
				</tr>
				<tr>
					<td class="TaskCount"><label>{{OpenTaskCount();}}</label> <!-- <label>{{$scope.TaskOpen}}</label> -->
					</td>
					<td class="TaskLabel"><label>OPEN</label></td>
					<td class="TaskCount"><label>{{WIPTaskCount();}}</label> <!-- <label>{{$scope.TaskWIP}}</label> -->
					</td>
					<td class="TaskLabel"><label>WIP</label></td>
					<td class="TaskCount"><label>{{ClosedTaskCount();}}</label> <!-- <label>{{$scope.TaskClosed}}</label> -->
					</td>
					<td class="TaskLabel"><label>CLOSED</label></td>
				</tr>
			</table>
		</div>
	</div>
	<br>
	<div id="HeadingTask">
		<h3>TASK MANAGEMENT(Automated)</h3>
	</div>
	<!-- TaskList Table -->
	<div>
		<div id="TaskListHeader">
			<div id="TasksListLabelDiv">
				<label id="TaskListLabel">Tasks</label>
			</div>
			<div id="ExportDiv">
				<button class="TaskButton" type="button" ng-csv="getTableForExport()"
					csv-header="getHeader()" csv-column-order="getColumns()"
					filename="TaskListDownload.csv">
					<i class="fa fa-download"></i>
				</button>
				<br> <label>Export</label>
			</div>
			<div id="CreateDiv">
				<button class="TaskButton" type="button" disabled="disabled">
					<i class="fa fa-plus"></i>
				</button>
				<br> <label>Create</label>
			</div>
			<div class="separatorLine"></div>
			<div id="FilterDiv">
				<button class="TaskButton" type="button"
					ng-click="TaskControl.ShowSection=true">
					<i class="fa fa-filter"></i>
				</button>
				<br> <label>Filter</label>
			</div>
		</div>
		<div style="padding: 1%; background-color: rgba(120, 185, 231, 1);"
			ng-show="TaskControl.ShowSection==true">
			<input type="text" placeholder="Task ID" ng-model="search['taskId']"
				class="column20width" /> <input type="text" placeholder="Priority"
				ng-model="search['priority']" class="column10width" /> <input
				type="text" placeholder="Status" ng-model="search['status']"
				class="column10width" /> <input type="text" placeholder="User ID"
				ng-model="search['assignedTo']" class="column10width" /> <input
				type="text" placeholder="Store" ng-model="search['store']"
				class="column6width" /> <input type="text" placeholder="State"
				ng-model="search['state']" class="column6width" /> <input
				type="text" placeholder="Sensor Name"
				ng-model="search['sensorName']" class="column10width" /> <input
				type="text" placeholder="Timestamp" ng-model="search['timestamp']"
				class="column10width" /> <input type="text"
				placeholder="Work Order" ng-model="search['workOrder']"
				class="column10width" /> <i
				style="color: white; font-size: x-large;"
				class="fa fa-times-circle-o"
				ng-click="TaskControl.ShowSection=false;search='';"></i>
		</div>
		<table ng-table="tableParams" class="table" show-filter="false" template-pagination="custom/pager"style="margin-bottom:0%;background-color:white;">
			<thead>
				<!-- Column Data-->
				<tr ng-hide="TaskControl.ShowSection==true" id="formatHeaderText">
					<th class="column2width"><input type="checkbox"
						ng-disabled="true" /></th>
					<th class="column20width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'taskId'">Task
						ID <span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'priority'">Priority
						<span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'status'">Status
						<span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'assignedTo'">User
						ID <span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column6width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'store'">Store
						<span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column6width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'state'">State
						<span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'sensorName'">Sensor
						Name <span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'timestamp'">Timestamp
						<span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th class="column10width"
						ng-click="TaskControl.Reverse=!TaskControl.Reverse;TaskControl.SortKey = 'workOrder'">Work
						Order <span class="fa fa-sort columnSortIcons"></span>
					</th>
					<th>View Trends
					</td>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td class="column2width"><input type="checkbox" /></td>
					<td class="column20width"><a ui-sref="Tasks.Details"
						ng-click="SetClickedRowValues('T1234');"> <i
							ng-show="SelectedTaskID=='T1234'" id="taskDropDown"
							class="fa fa-angle-down"></i> <i
							ng-hide="SelectedTaskID=='T1234'" id="taskDropDown"
							class="fa fa-angle-up"></i>
					</a>T1234</td>
					<td class="column10width"
						ng-class="{'color-emer': task.priority === 0,
				       		   'color-high': 1 === 1, 
						       'color-medium': task.priority === 2, 
						       'color-low': task.priority === 3}">
						{{GetPriority(1)}}</td>
					<td class="column10width">OPEN</td>
					<td class="column10width">smishr8</td>
					<td class="column6width">100</td>
					<td class="column6width">AK</td>
					<td class="column10width">Novar</td>
					<td class="column10width">2016-06-25 17:59:44:999</td>
					<td class="column10width"
						ng-class="{'enabled': 'To be assigned' === 'To be assigned',
						'disabled': 'To be assined' === 'To be assigned'}">To
						be assigned</td>
					<td><img id="viewTrendsImg" ng-click="SetTaskDetails('US','100','101','5','10','Output','16')" 
					ui-sref="sensorTrend"
						src="common/images/TrendIcon.png" /></td>
				</tr>
				<tr>
					<td id="eventPanelDiv" colspan="11"
						ng-show="SelectedTaskID=='T1234'"><div
							ui-view="taskeventdetails"></div></td>
				</tr>
			<tr ng-class-even="'rowOdd'"
				ng-repeat-start="task in $data|filter:search|orderBy:TaskControl.SortKey:TaskControl.Reverse">
				<td class="column2width"><input type="checkbox" 
				ng-checked="isSelected(task.taskId)" ng-click="updateSelection($event, task)"/>
				</td>
				<td class="column20width"><a
					ui-sref="Tasks.Details"
					ng-click="SetClickedRowValues(task.taskId,task.streetAddress1,task.city,task.postalCode,task.store,task.state,task.storePhone,task.storeManager);"> <i
						ng-show="SelectedTaskID==task.taskId" id="taskDropDown"
						class="fa fa-angle-down"></i> <i
						ng-hide="SelectedTaskID==task.taskId" id="taskDropDown"
						class="fa fa-angle-up"></i></a>{{task.taskId}}</td>
				<td class="column10width"
					ng-class="{'color-emer': task.priority === 0,
				       		   'color-high': task.priority === 1, 
						       'color-medium': task.priority === 2, 
						       'color-low': task.priority === 3}">{{GetPriority(task.priority)}}</td>
				<td class="column10width">{{task.status}}</td>
				<td class="column10width">{{task.assignedTo}}</td>
				<td class="column6width">{{task.store}}</td>
				<td class="column6width">{{task.state}}</td>
				<td class="column10width">{{task.sensorName}}</td>
				<td class="column10width">{{task.timestamp}}</td>
				<td class="column10width">To be assigned</td>
				<td class="column10width"><img
					id="viewTrendsImg" ng-click="SetTaskDetails(task.country,task.store,task.language,task.rackID,task.moduleID,task.sensorIOType,task.sensorID)" 
					ui-sref="sensorTrend" 
					src="common/images/TrendIcon.png" /></td>
			</tr>
			<tr ng-repeat-end ng-class-even="'rowOdd'">
				<td id="eventPanelDiv" colspan="11"
					ng-show="SelectedTaskID==task.taskId"><div
						ui-view="taskeventdetails"></div></td>
			</tr>
		</tbody>
		</table>

	</div>
	<div>
		<!-- angular templating -->
		<div ng-hide="SelectedTaskID==null" ui-view="taskadditionaldetails"></div>
	</div>
</div>