<div class="store">
	<div>
		<header class="formatHeader">Current Store Work Orders</header>
	</div>

	<div>
		<div id="storeDataDiv">
			<table>
				<tr>
					<td>
						<table>
							<tr>
								<td>Store ID</td>
								<td>{{store}}</td>
							</tr>
							<tr>
								<td>Street Address 1</td>
								<td>{{streetAddress1}}</td>
							</tr>
							<tr>
								<td>Street Address 2</td>
								<td></td>
							</tr>
						</table>
					</td>
					<td class="verticalLine"></td>
					<td>
						<table>
							<tr>
								<td>City/State</td>
								<td>{{city}}/{{state}}</td>
							</tr>
							<tr>
								<td>Zip Code</td>
								<td>{{postalCode}}</td>
							</tr>
							<tr>
								<td>Main Phone</td>
								<td>{{storePhone}}</td>
							</tr>
						</table>
					</td>
					<td class="verticalLine"></td>
					<td>
						<table>
							<tr>
								<td>Manager Name</td>
								<td>{{storeManager}}</td>
							</tr>
							<tr>
								<td>Manager Email</td>
								<td></td>
							</tr>
							<tr>
								<td colspan="2"><a href="">Click for additional info</a></td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<hr class="horizontalLine">
	<div ng-controller="TasksWOController as WOControl">
		<div id = "workOrderTableDiv">
			<table class="table table-striped WOTable">
				<thead>
					<tr class="wOrderHeader">
						<th>Work Order ID</th>
						<th>Description</th>
						<th>Timestamp</th>
						<th>Status</th>
						<th>Assigned To</th>
						<th>Remarks</th>
					</tr>
				</thead>
				<tbody style="background-color: white !important;">
					<tr>
						<td class = "workOrderID">
							<a 	ui-sref="Tasks.Details.WORT"
								ng-click="SetClickedWORowValues('WO-239845')"> <i
								ng-show="SelectedWOrder=='WO-239845'" id="taskDropDown"
								class="fa fa-angle-down"></i> <i
								ng-hide="SelectedWOrder=='WO-239845'" id="taskDropDown"
								class="fa fa-angle-up"></i>
							</a>
							WO-239845
						</td>
						<td>Troubleshoot Temperature Sensor Issue</td>
						<td>20160612 13:40:53</td>
						<td>Created</td>
						<td>Novar Technician</td>
						<td>Pending Update from Technician</td>
					</tr>
					<tr>
						<td id="RelTasksPanelDiv" colspan="6"
							ng-show="SelectedWOrder=='WO-239845'"><div
								ui-view="RelTasksDiv"></div></td>
					</tr>

					<tr ng-repeat-start="WOrder in WOrders" class="hello">
						<td class = "workOrderID">
							<a 	ui-sref="Tasks.Details.WORT"
								ng-click="SetClickedWORowValues(WOrder.WOId)">
								{{WOrder.WOId}}
							</a>
						</td>
						<td>{{WOrder.Description}}</td>
						<td>{{WOrder.Timestamp}}</td>
						<td>{{WOrder.Status}}</td>
						<td>{{WOrder.AssignedTo}}</td>
						<td>{{WOrder.Remarks}}</td>
					</tr>
					<tr ng-repeat-end>
						<td id="RelTasksPanelDiv" colspan="6"
							ng-show="SelectedWOrder==WOrder.WOId">
							<div ui-view>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>