<div ng-if="detailsValue.isStoreNbrAvble != null">
	<div class="row">
		<div class="col-lg-offset-7 col-md-offset-7 col-lg-5 col-md-5">
			<div ng-if="graphType == 'analog'" class="emptyclass"
				style="float: right; margin-right: 20px;">
				<label class="checkbox-inline"> <input type="checkbox"
					value="" ng-model="checkboxModel.threshold" ng-click="showGraph()">Sensor
					Threshold
				</label> <label class="checkbox-inline" ng-show=false> <input
					type="checkbox" value="" ng-model="checkboxModel.defrost"
					ng-click="showGraph()"> Defrost
				</label>
			</div>
		</div>

	</div>


	<div class="row">
		<div class="col-lg-12 col-md-12">
			<div class="graphViewChart">
				<div class="text-left verticaltext_content">Sensor Reading&nbsp;<span class="glyphicon glyphicon-arrow-right"></span></div>
				<rickshaw-chart data="sightingsByDate" color="#78b9e7" renderer="renderer" type="graphType" yhigh ="yHigh" ylow ="yLow"> </rickshaw-chart>
				
			</div>
		</div>
	</div>
</div>

<div ng-if="detailsValue.isStoreNbrAvble == null"
	style="font-size: 20px; padding: 20px; text-align: center">No
	Sensor Data Available for this particular time interval !</div>



