<div id="wrapper" ng-class={'toggled':showTreeView}>

	<!-- Sidebar Start -->
	<div ui-view="sidebar"></div>
	<!-- Sidebar End -->

	<div class="row">
		<div class="col-lg-1 col-md-1">
			<span id="menu-toggle" ng-click="toggleTreeView()"
				class="col-lg-1 col-md-1 fa fa-angle-left"
				data-toggle="tooltip" data-animation="false" data-placement="top"  
				title="Click Here to show & hide Sensor List on Left panel"
				ng-hide="showTreeView" onmouseenter="$(this).tooltip('show')">
			</span>
			<span id="menu-toggle" ng-click="toggleTreeView()"
				class="col-lg-1 col-md-1 fa fa-angle-right"
				data-toggle="tooltip" data-animation="false" data-placement="right"  
				title="Click Here to show & hide Sensor List on Left panel"
				ng-show="showTreeView" onmouseenter="$(this).tooltip('show')">
			</span>
		</div>
		<div class="col-lg-8 col-md-8"
			style="font-size: 18px; font-weight: bold; margin-left: -40px; margin-top: 10px;">Store
			Information</div>
		<div class="col-lg-3 col-md-3"
			style="font-size: 18px; font-weight: bold; margin-left: 18px; margin-top: 10px;">Weather
			Information</div>
	</div>
	<!-- Store and Weather Information Start -->
	<div ui-view="storeNweatherinformation"></div>
	<!-- Store and Weather Information End -->

	<div class="row">
		<div class="col-lg-12 col-md-12">
			<span style="font-size: 18px; font-weight: bold; margin-left: 45px;">Sensor
				Information <span style="font-size: 12px;color: black; margin-left: 200px;"> SENSOR NAME - {{sensorLabel }}</span>
			</span>
		</div>

	</div>
	<div class="row" class="graph" 
		ng-if="sensorSelection.status == 1"
		style="margin-top: 20px; background-color: white; margin: 0px 10px 20px 45px;box-shadow: 4px 2px 5px 0px;min-height: 500px;">

		<div class="col-lg-8 col-md-8" style="margin-top: 20px;">
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="{{btmboderGraphClass}}" ui-sref=".graphView"
						style="display: inline-block; margin-right: 20px;"
						ng-click="selectView(1); $event.stopPropagation();"
						id="graphViewId">
						<img src="common/images/GraphView.png"
							style="width: 25px; height: 18px" /> {{ graphView }}
					</div>
					<div class="{{btmboderTableClass}}" ui-sref=".tableView"
						style="display: inline-block;" ng-click="selectView(2)">
						<img src="common/images/TableView.png"
							style="width: 25px; height: 18px" /> {{ tableView }}
					</div>
				</div>


				<div class=" col-lg-6 col-offset-lg-6 col-offset-md-6 col-md-6">
					<div style="float: right; margin-right: 20px;">
						<span style="position: relative; top: -10px"> Freeze Trends</span>
						<label class="switch" ng-click="freeze()"> <input type="checkbox" ng-model="checkboxModel.freeze">
							<div class="slider round"></div>
						</label>

					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-6 col-md-6">
					<div class="avgText" style="display:none">
						Average Temperature <span>(for 4 h)</span> 56 F
					</div>

				</div>
				<div class="col-lg-6 col-md-6">
					<ul class="pagination" style="float: right; margin-right: 18px">
						<li class="{{ active1hr }}"><a  ng-click="trend4hr(1)">1 h</a></li>
						<li class="{{ active2hr }}"><a  ng-click="trend4hr(2)">2 h</a></li>
						<li class="{{ active4hr }}"><a  ng-click="trend4hr(4)">4 h</a></li>
						<li class="{{ active8hr }}"><a  ng-click="trend4hr(8)">8 h</a></li>
						<li class="{{ active24hr }}"><a  ng-click="trend4hr(24)">24 h</a></li>
						<li class="{{ active48hr }}"><a  ng-click="trend4hr(48)">48 h</a></li>
						<li class="{{ active72hr }}"><a  ng-click="trend4hr(72)">72 h</a></li>
					</ul>
				</div>
			</div>
			<div ui-view></div>
		</div>

		<!-- Sensor Specific Reading Information Start -->
		<div ui-view="sensorSpecReadingInfo"></div>
		<!-- Sensor Specific Reading Information End -->
	</div> 
	
	<div class="row" class="graph" 
		style="margin-top: 20px; background-color: white; margin: 0px 10px 20px 45px;box-shadow: 4px 2px 5px 0px;min-height: 500px;padding:20px;font-size:20px;text-align:center"
		ng-if="sensorSelection.status == 2 || sensorSelection.status == -1" > {{ sensorSelection.sensordetailsMessage }}
	</div>
	

</div>
