<div  class="col-lg-4 col-md-4 sensorTrendsRhsContent" ng-if="detailsValue.bShowRhs != false">
	<div ng-if="detailsValue.sensorReadingTypeValue == 'DIGITAL' || detailsValue.sensorReadingTypeValue == 'ANALOG'">
		<!-- Sensor Reading block --> 
		<section class="sensorBlock col-md-12" ng-if="detailsValue.odometerValue != ''" >
			<span class="col-md-8 sensorTrendsRhsHeaderTitle" >Sensor Reading</span>
			<span class="col-md-4 sensorTrendsRhsHeaderValue"  >{{detailsValue.odometerValue}}&nbsp;</span>
			<div ng-if="detailsValue.sensorReadingTypeValue != 'DIGITAL'" width="260" class="col-md-12 sensorGauge"  ng-radial-gauge ranges="ranges" value="value" value-unit="unit" precision="precision" lower-limit="lowerLimit" upper-limit="upperLimit"></div>
			<section ng-if="detailsValue.sensorReadingTypeValue != 'DIGITAL'" class="col-md-12 readingDescription">{{detailsValue.lastupdate}}</section>
		</section>
		<!-- Sensor Limits block -->    
		<section class="sensorBlock col-md-12" ng-if="detailsValue.threshlow || detailsValue.threshhigh">
			<section class="col-md-12 sensorTrendsRhsHeader" ng-if="detailsValue.sensorReadingTypeValue == 'ANALOG'">Sensor Limits</section>
			<span class="col-md-8 sensorTrendsRhsHeaderTitle" ng-if="detailsValue.sensorReadingTypeValue == 'DIGITAL'" >Alarm Condition</span>	
			<span class="col-md-4 sensorTrendsRhsHeaderValue" ng-if="detailsValue.sensorReadingTypeValue == 'DIGITAL'">{{detailsValue.threshlow}}</span>	
			<section class="col-md-12" ng-if="detailsValue.sensorReadingTypeValue == 'ANALOG'" >				
				<span class="col-md-8" >Lower</span>
				<span class="col-md-4 sensorTrendsRhsValue">{{detailsValue.threshlow}}</span>
			</section>
			<section class="col-md-12" ng-if="detailsValue.sensorReadingTypeValue != 'DIGITAL'">
				<span class="col-md-8">Upper</span>
				<span class="col-md-4 sensorTrendsRhsValue">{{detailsValue.threshhigh}}</span>
			</section>
		</section>
		<!-- Misc block -->
		<section class="sensorBlock col-md-12" ng-if="detailsValue.sensorReadingTypeValue == 'ANALOG' && (detailsValue.cutIn != null || detailsValue.cutOut != null)">
			<section class="col-md-12 sensorTrendsRhsHeader">Miscellaneous</section>
			<section class="col-md-12">
				<span class="col-md-8">Cut-in</span>
				<span class="col-md-4 sensorTrendsRhsValue">{{detailsValue.cutIn}}</span>
			</section>
			<section class="col-md-12">
				<span class="col-md-8">Cut-out</span>
				<span class="col-md-4 sensorTrendsRhsValue">{{detailsValue.cutOut}}</span>
			</section>
		</section>
		<!-- Defrost block -->
		<section class="sensorBlock col-md-12" ng-if="detailsValue.deforstDuration != null || detailsValue.lastDeforstTime != null ">
			<section class="col-md-12 sensorTrendsRhsHeader">Defrost</section>
			<section class="col-md-12" ng-if="detailsValue.deforstDuration != null" >
				<span class="col-md-8">Duration</span>
				<span class="col-md-4 sensorTrendsRhsValue">{{detailsValue.deforstDuration}}</span>
			</section>
			<section class="col-md-12 description" ng-if="detailsValue.lastDeforstTime != null && detailsValue.lastDeforstTime != ''">(Last Defrost {{detailsValue.lastDeforstTime}})</section>
			<!--<section class="col-md-12">
				<span class="col-md-8">Max Temp</span>
				<span class="col-md-4 sensorTrendsRhsValue">78.4</span>
			</section>
			<section class="col-md-12 description">(During Last Defrost)</section>
			<section class="col-md-12">
				<span class="col-md-8">Termination Temp</span>
				<span class="col-md-4 sensorTrendsRhsValue">78.4</span>
			</section>
			<section class="col-md-12">Next Scheduled Defrost</section>
			<section class="col-md-8 sensorTrendsRhsValue">12:55:45:324 PM</section> -->
		</section> 
	</div>
</div>