<div class="row" style="margin: 0px 10px 20px 30px;">
	<div class="col-lg-9 col-md-9">

		<div class="col-lg-3 col-md-3"
			style="height: 110px; padding-top: 5px; background-color: white; box-shadow: 0px 3px 5px 0;">
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">
				Store</div>
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">Store
				Type</div>
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">Manager
				Name</div>

			<!-- Additional Details Modal -->

			<div class="modal fade" id="myModal" tabindex="-1" role="dialog"
				aria-labelledby="myModalLabel">
				<div class="modal-dialog" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal"
								aria-label="Close">
								<span aria-hidden="true">&times;</span>
							</button>
							<h4 class="modal-title" id="myModalLabel">Additional Contact
								Details</h4>
						</div>
						<div class="modal-body">
							<div class="container">
								<table class="table table-hover .table-condensed"
									style="width: 40%">
									<!-- 	<thead>
      								<tr>
        								<th>Division Name</th>
        								<th>Phone Number</th> 
   								   </tr>
    							</thead> -->
									<tbody ng-repeat="record in headerData">
										<tr>{{record.description}}
										</tr>
										<tr>{{record.contact[0].phone[0].number}}
										</tr>
									</tbody>
								</table>
							</div>

						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary"
								data-dismiss="modal">Close</button>
						</div>
					</div>
				</div>
			</div>

		</div>
		
		<!-- UI Bootstrap modal start 	

<div ng-controller="ModalDemoCtrl as $ctrl">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">I'm a modal!</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <ul>
                <li ng-repeat="item in $ctrl.items">
                    <a href="#" ng-click="$event.preventDefault(); $ctrl.selected.item = item">{{ item }}</a>
                </li>
            </ul>
            Selected: <b>{{ $ctrl.selected.item }}</b>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>

 UI Bootstrap modal end -->
		
		<div class="col-lg-3 col-md-3"
			style="height: 110px; padding-top: 5px; background-color: white; box-shadow: 4px 3px 6px 0px;">
			<div style="height: 30px; font-size: 15px; color: black;">
				{{headerData.storeNumber}}<span><img
					style="width: 8%; margin-left: 5px;"
					src="common/images/Information.png" data-toggle="tooltip" title="Upcoming Feature! This feature will list down division-wise contact numbers within this store"> </span> <span><img
					style="width: 9%; margin-left: 5px;" src="common/images/mail.png" data-toggle="tooltip" title="Upcoming Feature! This feature enable user to send email to store manager">
				</span>
			</div>
			<div style="height: 30px; font-size: 15px; color: black;">{{headerData.storeDescription}}</div>
			<div style="height: 30px; font-size: 15px; color: black;">{{headerData.managerName}}</div>
		</div>
		<div class="col-lg-2 col-md-2"
			style="height: 110px; padding-top: 5px; background-color: white; box-shadow: 4px 3px 6px 0px;">
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">Store
				Name</div>
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">Address</div>
			<div
				style="height: 30px; font-size: 15px; color: black; font-weight: bold;">Main
				Phone</div>
		</div>
		<div class="col-lg-4 col-md-4"
			style="height: 110px; padding-top: 5px; background-color: white; box-shadow: 4px 3px 6px 0px;">
			<div style="height: 30px; font-size: 15px; color: black;">{{headerData.storeLocation}}</div>
			<div style="height: 30px; font-size: 15px; color: black;">{{headerData.address}}</div>
			<div style="height: 30px; font-size: 15px; color: black;">{{headerData.managerContactDetails | tel}}</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-3 flip"
		style="background-color: white; height: 110px; box-shadow: 4px 2px 5px 0px;">
		<div class="card" ng-class="{'flipped':isFlipped}">
			<div class="face front">
				<div class="row">
					<div
						class="col-lg-6 col-md-6 weatherTempHeader {{btmboderInTempClass}}"
						ng-click="selectWeather(1)">Inner</div>
					<div
						class="col-lg-6 col-md-6 weatherTempHeader {{btmboderOutTempClass}}"
						ng-click="selectWeather(2)">Outer</div>
				</div>
				<div class="row" style="text-align: center; margin-top: 10px;">
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Temp</div>
							<div>30 F</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Wind</div>
							<div>{{wind}}</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Humid</div>
							<div>{{humidity}}</div>
						</div>

					</div>


				</div>
			</div>
			<div class="face back">
				<div class="row">
					<div
						class="col-lg-6 col-md-6 weatherTempHeader {{btmboderInTempClass}}"
						ng-click="selectWeather(1)">Inner</div>
					<div
						class="col-lg-6 col-md-6 weatherTempHeader {{btmboderOutTempClass}}"
						ng-click="selectWeather(2)">Outer</div>
				</div>
				<div class="row" style="text-align: center; margin-top: 10px;">
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Temp</div>
							<div>50 F</div>
						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Wind</div>
							<div>{{wind}}</div>

						</div>
					</div>
					<div class="col-lg-4 col-md-4">
						<div
							style="background-color: #FDF4F5; color: black; font-weight: bold; border-radius: 5px;">
							<div>Humid</div>
							<div>{{humidity}}</div>
						</div>

					</div>

				</div>
			</div>
		</div>
		<div style="position: absolute;top:58px;left:57px">
			<img src="common/images/WorkInProgress.png"
				style="width: 75%; height: 50px;">
		</div>
	</div>

</div>