<div class="col-lg-12 col-md-12 table-responsive " ng-if="detailsValue.isStoreNbrAvble != null">
	<div class="sensorTrendsTmainHead">
		<span class="leftHead col-md-8">Sensor Trends</span> <span
			class="rightHead col-md-4" style="display: none">Columns</span>
	</div>
	<table class="table sensorTrendsTableAnalog" ng-if="detailsValue.sensorReadingTypeValue == 'ANALOG'">
		<thead class="sensorTHead">
			<tr>
				<th class="text-left" >Time Stamp<em class="small">(in CST)</em></th>			
				<th class="text-center" >Reading</th>
				<th class="text-center">Lower Limit</th>				
				<th class="text-center">Upper Limit</th>				
			</tr>
		</thead>
		<tbody class="sensorTBody">
			<tr ng-repeat="tableDate in tableViewData | orderBy:'-timestamp'">
				<td class="text-left tleft" >{{ tableDate.timestamp }}</td>				
				<td class="text-center" >{{ tableDate.reading }}</td>
				<td class="text-center">{{ tableDate.lowerLimit }}</td>
				<td class="text-center" >{{ tableDate.upperLimit }}</td>
			</tr>
		</tbody>
	</table>
	
	<table class="table sensorTrendsTableDigital" ng-if="detailsValue.sensorReadingTypeValue == 'DIGITAL'">
		<thead class="sensorTHead">
			<tr>				
				<th class="text-left tleft" style="width:42%" >Time Stamp<em class="small">(in CST)</em></th>
				<th >Reading</th>								
				<th >Alarm Condition</th>					
			</tr>
		</thead>
		<tbody class="sensorTBody">
			<tr ng-repeat="tableDate in tableViewData | orderBy:'-timestamp'">				
				<td class="text-left tleft" style="width:43%" >{{ tableDate.timestamp }}</td>
				<td class="" >{{ tableDate.reading }}</td>				
				<td class="">{{ tableDate.lowerLimit }}</td>		
			</tr>
		</tbody>
	</table>
</div>

<div ng-if="detailsValue.isStoreNbrAvble == null" style="font-size:20px;padding:20px;text-align:center">
	No Sensor Data Available for this particular time interval !
</div>

