<div id="sidebar-wrapper" style="height: 759px; overflow-x:auto">

	<!--  style="overflow-x: hidden;" -->

	<div class="form-group row searchContainer" style="margin-bottom: 0px;">
		<div class="col-lg-12">
			<input ng-model='sensorQuery' ng-keypress="Enterfunc($event)" class="searchbox form-control"
				type="text" placeholder="Enter SensorID..." />
			<div class="glyphicon glyphicon-search"
				style="float: right; margin-top: -26px; margin-right: 5px; font-size: 20px; cursor: pointer;"
				ng-click="search();"></div>
			<span class="standardtext" style="font-size: 12px;margin-left:2px;">
				STNO/RID/NETTYPE/MID/IOTYPE/SENSID </span>
		</div>

		<!-- <div class="col-lg-12"  style="margin-left:8px;">
       			<button type="button" class="btn btn-default"  style ="width: 90%";>Get Sensor</button>
       			</div> -->
	</div>

	<div class="row healthContainer">
		<div class="col-lg-12 standardtext">Sensor Status Summary</div>

		<div class="col-lg-12">
			<div class="col-lg-3"
				style="height: 22px; width: 42px; border-radius: 11px; background-color: white; margin-top: 10px;">
				<div class="col"
					style="height: 14px; width: 14px; background-color: #e62b1e; border-radius: 18px; margin-top: 4px; margin-left: -10px;"></div>
				<div class="col"
					style="font-size: small; margin-top: -15px; margin-left: 6px;">

				</div>
			</div>

			<div class="col-lg-3"
				style="height: 22px; width: 42px; border-radius: 11px; background-color: white; margin-left: 5px; margin-top: 10px;">
				<div class="col"
					style="height: 14px; width: 14px; background-color: #ffc220; border-radius: 18px; margin-top: 4px; margin-left: -10px;"></div>
				<div class="col"
					style="font-size: small; margin-top: -15px; margin-left: 10px;">

				</div>
			</div>

			<div class="col-lg-3"
				style="height: 22px; width: 42px; border-radius: 11px; background-color: white; margin-left: 5px; margin-top: 10px;">
				<div class="col"
					style="height: 14px; width: 14px; background-color: #76c043; border-radius: 18px; margin-top: 4px; margin-left: -10px;"></div>
				<div class="col"
					style="font-size: small; margin-top: -15px; margin-left: 8px;">

				</div>
			</div>

			<div class="col-lg-3"
				style="height: 22px; width: 81px; border-radius: 11px; background-color: white; margin-left: 5px; margin-top: 10px;">
				<div class="col" style="margin-top: 2px;">
					<span></span>
				</div>
			</div>
		</div>
		 <div class="col-lg-12">
			<img src="common/images/WorkInProgress.png"
				style="height: 80px;margin-top: -65px;width: 275px;opacity: .8;margin-left: -15px;"></img>
		</div>
		<!-- <div style="margin-left: 40px;margin-top: 27px;color: white;font-size: 16px;">Development In Progress.</div> -->

		<!-- <div class="col-lg-12 standardtext">
				(Click Color to see the details below)
				<label class="switch">
  				<div class="slider1 round"><span Class="storeHealthText">4</span></div>
				</label>
				<label class="switch">
  				<div class="slider2 round"><span class="storeHealthText">6</span></div>
				</label>
				<label class="switch">
			    <div class="slider3 round"><span class="storeHealthText">8</span></div>
                </label>
                <label class="switch">
                <div class="slider4 round"><span class="storeHealthText">Total 18</span></div>
                </label>
				</div> -->

		<!-- <div class="col-lg-12">
			<input ng-model='treeSearchQuery' class="searchbox form-control"
				type="text" placeholder="Enter Sensor Name..."
				style="margin-top: 20px;" />
		</div> -->
	</div>





	<!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-id : each tree's unique id.
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->


<div  ng-show="resMessage=='SUCCESS'">
			<div><input ng-model='treeSearchQuery' class="searchbox form-control" ng-model-options="{debounce: 500}"
				type="text" placeholder="Enter Keyword..."
				style="margin-top: 20px;margin-left: 15px;width: 90%;" ng-change="filter()"/>
				</div>
				
		<div data-angular-treeview="true" data-tree-id="mytree"
			data-tree-model="myData" data-node-id="roleId"
			data-node-label="FieldName" data-node-children="children"
			data-search-query='treeSearchQuery'></div>
			<div ng-show="showSearchMessage" style="margin-left: 12px;margin-top: 14px;font-size: 14px;">Not Found. Please enter a different string </div>
	</div>
	
	<div  ng-if="resMessage=='No records found'" style="font-size: 14px;margin-top: 10px;margin-left: 10px;">
	<span >Data for Store <b>{{storeNumber}}</b> is currently Unavailable. Please Enter different Store Number!!
	</span>
	</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Sensor Selection</h4>
      </div>
      <div class="modal-body">
        Please Select a Sensor to View Sensor Information!!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>