#paginationDiv {
	background-color: #117EC2;
	height:55px;
}

#paginationDiv ul {
	float: right;
	margin: 1% 1% 1%;
	display:inline-block;
}

#paginationDiv label{
	color:white;
	float: right;
	margin: 1.5% 0.5% 1%;
	display:inline-block;
}
/*.pagination>li>a, .pagination>li>span
{
	background-color: #117EC2;
	color:white;
	border:0px;
}*/