#taskDescriptionDiv
{
	background-color: #EEF9FE;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border-radius: 7px;
    margin-bottom: 1%;
}
#taskDescriptionLabel
{
	font-weight: 700;
}
#taskDescriptionText
{
	padding-left: 15px;
}
.eventTable
{
	width: 100% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
}
.eventHeader
{
	background-color: #007DC6;
    font-size: 18px;
    color: white;
}
#formatEventHeaderText
{
	background-color: rgba(120, 185, 231, 1) !important;
	color:white;
}
#QeventPanelDiv {
	background-color: rgb(242,244,247);
	padding: 2%;
}
#QeventPanelDiv:before
{
	content: " ";
	border-bottom: 11px solid rgb(242,244,247);
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    position: relative;
    bottom: 54px;
    right: -100px;
}
