.relatedTaskHeader
{
	background-color: #007DC6;
    font-size: 18px;
    color: white;
}

.relatedTaskTableHeader
{
	background-color: rgba(120, 185, 231, 1) !important;
	color: white;
	font-weight: 600;
}