.rowOdd
{
	background-color:rgba(189,189,189,1);
}
#formatTaskDiv
{
    position:absolute;
	left:  1%;
	right: 1%;
	border:1px black;
	margin-top: 1%;
	
}
.separatorLine
{
border: 1px solid white;
    float: right;
    height: 80%;
}
#formatHeaderText {
	background-color: rgba(120, 185, 231, 1) !important;
	color: white;
}

#TaskListHeader {
	background-color: rgba(17, 126, 194, 1);
	padding-top: 1%;
	height: 100px;
	padding-top: 16px;
}

#TaskListLabel {
	color: white;
	font-size: large;
	margin-left: 2%;
}

.TaskButton {
	color: white;
	background-color: transparent;
	border: solid;
	border-width: thin;
	line-height: 1.33;
	width: 50px;
	height: 50px;
	text-align: center;
	font-size: 34px;
	border-radius: 25px;
}

#TaskListHeader div {
	display: inline-block;
	margin-right: 3%;
}

#TaskListHeader div label {
	color: white;
}

#TasksListLabelDiv {
	float: left;
	margin-top: 24px;
	margin-left: 10px;
}

#FilterDiv, #CreateDiv, #ExportDiv {
	float: right;
}

#FilterDiv i {
	color: white;
}

#ExportDiv i {
	color: white;
}

#FilterDiv label {
	margin-left: 17%;
}

#CreateDiv button, #CreateDiv i, #CreateDiv label {
	color: rgba(60, 161, 200, 1) !important;
}

#viewTrendsImg {
	height: 25px;
	cursor: pointer;
}

#eventPanelDiv {
	background-color: #D4EFFC;
	padding: 2%;
}
#eventPanelDiv:before
{
	content: " ";
	border-bottom: 11px solid #D4EFFC;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
    position: relative;
    bottom: 54px;
    right: -100px;
}
#tableToExport {
	margin-bottom: 0%;
	background-color: white;
}