.color-emer {
  color: red;
}
.color-high {
  color: orange;
}
.color-medium {
  color: gold;
}
.color-low {
  color: green;
}
#taskDropDown
{
	color: rgba(17, 130, 199, 1); 
	font-size: large; 
	font-weight: 900;
	margin-right: 2%;
}
.column20width
{
	width:20%;
	text-align: left !important;
}
.column10width
{
	width:10%;
	text-align: left !important;
}
.column6width
{
	width:6%;
	text-align: left !important;
}
.column2width
{
	width:2%;
}