.barSeparatorLine {
	border: 1px solid rgba(120, 185, 231, 1) !important;
	float: left;
	height: 80%;
	margin-top: 10px;
}

#TaskBar {
	box-shadow: 10px 10px 10px -7px rgba(0, 0, 0, 0.5);
	border: 1px solid whitesmoke;
	background-color:white;
}

#TaskBar #TaskPrio, #TaskBar #TaskStatus {
	color: #1F68A2;
	display: inline-block;
	font-size: medium;
}

#TaskPrio {
	width: 55%;
	background-color:white;
}

#TaskStatus {
	width: 40%;
	background-color:white;
	margin-bottom:0.5%;
}

.TaskCount {
	font-size: x-large;
	color: gold;
	width: 2%;
}

.TaskLabel {
	color: black;
	width: 10%;
}

.TaskLabel label
{
	font-weight: normal !important;
}

#HeadingTask {
	color: #7C7E7D;
}