.store {
	border-style: solid;
	border-width: 1px;
	border-color: lightgray;
	margin-top: 20px;
	background-color:white;
}

.formatHeader {
	background-color: #007DC6;
	font-size: 18px;
	font-weight: 600;
	color: white;
	padding: 10px;
}

.WOTable 
{
	width: 100% !important;
	margin-left: 0% !important;
	margin-right: 0% !important;
}

.wOrderHeader 
{
	background-color: rgba(120, 185, 231, 1) !important;
	color: white;
}

.verticalLine {
	border-left: 1px solid lightgray;
	width: 5% !important;
}

.horizontalLine {
	margin: 15px;
}

.workOrderID
{
	font-weight: 600;
	color: #007DC6;
}

#storeDataDiv {
	margin: 15px;
}

#storeDataDiv table {
	width: 100%;
}

#storeDataDiv table tr td {
	width: 30%;
}

#storeDataDiv table tr td table tr td:FIRST-CHILD {
	font-weight: 600;
	width: 20%;
}

#workOrderTableDiv
{
	margin: 15px;
}

#RelTasksPanelDiv
{
	background-color: rgb(242,244,247);
    padding: 2%;
}